In [1]:
import os
import shutil
import arcpy
import arcgis
from arcgis.features import GeoAccessor, GeoSeriesAccessor
import pandas as pd
import random
from faker import Faker
from datetime import datetime

In [2]:
unstructFolder = r"C:\Users\student\Documents\GitHub\Knowledge-Graphs\Demo Data\v3\Unstructured text data"
baseTxt = """This is a Patent application file.
Name of the product: {}
The organization that submitted the patent application: {}
The person who created this product is the inventor: {}
The patent's application number: {}
Date the patent was filed: {}
"""
print(baseTxt)

This is a Patent application file.
Name of the product: {}
The organization that submitted the patent application: {}
The person who created this product is the inventor: {}
The patent's application number: {}
Date the patent was filed: {}

In [3]:
productTable = r"C:\DemoData\KNOW\SupplyChain\SupplyChain.gdb\Products"
def makeDF(arg1):
    # Create a scratch directory
    scratchDir = r"C:\scratch"
    os.mkdir(scratchDir)
    print(f"{scratchDir} Created")

    # Export the table to a CSV
    tempTable = os.path.join(scratchDir, arcpy.da.Describe(arg1)['baseName'] + ".csv")
    arcpy.conversion.ExportTable(arg1, tempTable)

    # Read the CSV file as data frame
    df = pd.read_csv(tempTable)
    
    # Delete the CSV file
    arcpy.management.Delete(tempTable)

    # Delete the scratch directory
    shutil.rmtree(scratchDir)
    print(f"Deleted {scratchDir}")
    return df

df = makeDF(productTable)
df.head()

C:\scratch Created
Deleted C:\scratch

,ProductName,Parts,Patent,CompanyName,MSRP_Num
0,Product 1,"Part 3, Part 7",NaN,"Wood, Gonzalez and Carter",41
1,Product 2,"Part 3, Part 7, Part 4",NaN,Kim PLC,830
2,Product 3,"Part 7, Part 3, Part 1, Part 4",NaN,"Kennedy, Hanson and Aguilar",976
3,Product 4,"Part 1, Part 7, Part 2",NaN,David-Baker,412
4,Product 5,"Part 1, Part 5, Part 6, Part 3",NaN,Rivera-Thomas,380

In [4]:
productList = list(df['ProductName'].unique())
df.head()

,ProductName,Parts,Patent,CompanyName,MSRP_Num
0,Product 1,"Part 3, Part 7",NaN,"Wood, Gonzalez and Carter",41
1,Product 2,"Part 3, Part 7, Part 4",NaN,Kim PLC,830
2,Product 3,"Part 7, Part 3, Part 1, Part 4",NaN,"Kennedy, Hanson and Aguilar",976
3,Product 4,"Part 1, Part 7, Part 2",NaN,David-Baker,412
4,Product 5,"Part 1, Part 5, Part 6, Part 3",NaN,Rivera-Thomas,380

In [5]:
for i in range(len(productList)):
    print(F"processing {productList[i]}")
    txtPath = os.path.join(unstructFolder, productList[i].replace(" ","_")+"_patent.txt")
    # Product name is the product name....
    productName = productList[i]
    # company is the company. Need to retrieve the company produces a product.
    company = df[df.ProductName == productName].iloc[0]['CompanyName']
    print(company)
    # ranPerson is a randomly generated person's name
    ranPerson = Faker().name()
    # appNum is a randomly generated application number ##/###,###
    randInt = str(random.randint(10000000, 99999999))
    appNum = f"{randInt[0]}{randInt[1]}/{randInt[2]}{randInt[3]}{randInt[4]},{randInt[5]}{randInt[6]}{randInt[7]}"
    # ranDate is a random date between 2023 and 2024
    ranDate = Faker().date_between_dates(date_start=datetime(2023,1,1), date_end=datetime(2024,4,30)).strftime("%b. %d, %Y")

    # Create the text file
    txtFile = baseTxt.format(productName, company, ranPerson, appNum, ranDate)

    file = open(txtPath, "w")
    file.write(txtFile)
    file.close()

    #print(txtFile)

processing Product 1
Wood, Gonzalez and Carter
processing Product 2
Kim PLC
processing Product 3
Kennedy, Hanson and Aguilar
processing Product 4
David-Baker
processing Product 5
Rivera-Thomas
processing Product 6
Kim PLC
processing Product 7
Kim PLC
processing Product 8
Wood, Gonzalez and Carter
processing Product 9
Kim PLC
processing Product 10
Kim PLC
processing Product 11
Rivera-Thomas
processing Product 12
Wood, Gonzalez and Carter
processing Product 13
Moody-Martin
processing Product 14
Wood, Gonzalez and Carter
processing Product 15
Bell Ltd
processing Product 16
Phillips, Smith and Fuller