In [16]:
import os
import shutil
import arcpy
import arcgis
from arcgis.features import GeoAccessor, GeoSeriesAccessor
import pandas as pd
import random
from faker import Faker

The patent txt file will look like this:
- This is a Patent applicaiton file.
- Product name
- Applicant: Company
- Inventor: random fake name
- Application number: random number
- Filed: date

Need to get a list of the companies from the Products table in the SupplyChain.gdb, and the list of product names.

In [4]:
unstructFolder = r"C:\Users\student\Documents\GitHub\Knowledge-Graphs\Demo Data\v3\Unstructured text data"
baseTxt = """
This is a Patent application file.
{}
Applicant: {}
Inventor: {}
Application number: {}
Filed: {}
"""#format(productName, company, ranPerson, appNum, ranDate)
print(baseTxt)

This is a Patent application file.
{}
Applicant: {}
Inventor: {}
Application number: {}
Filed: {}

In [17]:
productTable = r"C:\DemoData\KNOW\SupplyChain\SupplyChain.gdb\Products"
outTable ="Products.csv"
def makeDF(arg1):
    # Create a scratch directory
    scratchDir = r"C:\scratch"
    os.mkdir(scratchDir)
    print(f"{scratchDir} Created")

    # Export the table to a CSV
    tempTable = os.path.join(scratchDir, arcpy.da.Describe(arg1)['baseName'] + ".csv")
    arcpy.conversion.ExportTable(arg1, tempTable)

    # Read the CSV file as data frame
    sdf = pd.read_csv(tempTable)
    
    # Delete the CSV file
    arcpy.management.Delete(tempTable)

    # Delete the scratch directory
    shutil.rmtree(scratchDir)
    print(f"Deleted {scratchDir}")
    return sdf

sdf = makeDF(productTable)
sdf.head()

C:\scratch Created
C:\scratch\Products.csv
Deleted C:\scratch

,ProductName,Parts,Patent,CompanyName,MSRP_Num
0,Product 1,"Part 3, Part 7",NaN,"Wood, Gonzalez and Carter",41
1,Product 2,"Part 3, Part 7, Part 4",NaN,Kim PLC,830
2,Product 3,"Part 7, Part 3, Part 1, Part 4",NaN,"Kennedy, Hanson and Aguilar",976
3,Product 4,"Part 1, Part 7, Part 2",NaN,David-Baker,412
4,Product 5,"Part 1, Part 5, Part 6, Part 3",NaN,Rivera-Thomas,380

In [5]:
scratchDir = os.mkdir(r"C:\scratch")